{% extends 'main/base.html' %}

{% block title %}
Contacts
{% endblock %}





        <div class="header">
                <header class="headercover">
                   <a href="/"> <img src="assets/images/express.png" class="logotext"> </a>
                     <div class="navblock">
                      <nav class="nav">
                       <a class="navlink" href="https://vk.com/market-195315042">Услуги и цены</a>
                       <a class="navlink" href="#">Контакты</a>
                       <a class="navlink" href="#">партнеры</a>
                    </nav>
                    </div>

                </header>
        </div>
<div class="background">
    <div class="contacts">
        <ul >

            <li class="tel" style="padding-left: 15px; padding-right: 15px"><a>тел. 8 (996) 940 22 43</a></li>

            <li class="tel" style="padding-left: 15px; padding-right: 15px"><a>VK.com: </a><a href="https://vk.com/turkey_express" style="color: #ebebeb;">@turkey_express</a></li>

        </ul>
    </div>
</div>
<div class="footer">
    <footer class="footercover">

        <div class="footerdiv">
            <a class="footertext">Turkey</a>
        </div>
        <div class="footerdiv">
            <a class="footertext">мы в социальных сетях:<a href="https://vk.com/turkey_express"><img src="assets/images/vk.png" class="footerimg" ></a><a href="https://www.instagram.com/turkeyexpress/"><img src="assets/images/ins.png" class="footerimg"></a></a>
        </div>

    </footer>
</div>

</body>
</html>
