{% extends 'main/base.html' %}


{% load static %}


{%  block title %}TurkeyExpress{% endblock %}

{% block main %}

    <div class="mainblock">
        <div class="leftblock">
                    <ul class="ulmenu">
                        <li class="lileft"><a class="ecotaxtext" href="https://vk.com/turkey_express">Экотакси<img src="{% static 'main/assets/images/ecotax.png' %}" href="https://vk.com/turkey_express" class="ecotax">
                        </a></li>
                        <li class="lileft"><a class="ecotaxtext"  href="https://vk.com/turkey_express">Грузовое такси</a></li>
                        <li class="lileft"><a class="ecotaxtext" href="https://vk.com/turkey_express">Грузоперевозки по Великому новгороду и новгородской области</a></li>
                        <li class="lileft"><a class="ecotaxtext" href="https://vk.com/turkey_express">Межрегиональные перевозки</a></li>
                        <li class="lileft"><a class="ecotaxtext" href="https://vk.com/turkey_express">Экспедирование</a></li>
                        <li class="lileft"><a class="ecotaxtext" href="https://vk.com/turkey_express">Переезды</a></li>
                    </ul>
        </div>

        <div class="rightblock">
            ddd
        </div>
    </div>

{% endblock %}
